
.student{
  text-align: center;
}



  
.form{
  font-size:15px;
  position: absolute;
  left: 25%;
  text-align: center;
 
  justify-content: center;
  max-width: 600px;
  width: 560px;
  max-height: 600px;
  padding: auto;
  padding-top: 0;
  text-align: center;
  margin-bottom: 30px;
 }

 span {
  text-align: right;
}

form .button input{
  padding: 8px 8px;
 margin-left: 20px;
 border-style:solid 2px #000;
  font-size: 15px;
  font-weight: 500px;
  
}
.btn{
  padding: 8px 8px;
  margin-left: 20px;
  border-style:solid 2px #000;
   font-size: 15px;
   font-weight: 500px; 
  float: right;
  bottom: 100%;
  
}
fieldset {
  position: relative;
  background: aquamarine;
  
}

.fav1> span{
   text-align: center;
}

