.home {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
}

.home img {
    height: 100px;
    width: 150px;
    /*
    border-style: groove;
    border-color: aquamarine;
    border-radius: 2px;
    */
}

.center {
 
    background: aquamarine;
   
    text-align: center;
    max-width: 450px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
   margin: auto;
    
}



.left{
    background: gray;
    max-width: 500px;
    width: 300px;  
    margin: auto;
   padding: 5px;
    border-radius: 10px;
    float: left;
    font-size: small;
   
}

.left h1{
    text-align: left;
    font-size: 16px;
}
.right h1{
    font-size: 16px;
}

.right {
    background: gray;
    max-width: 500px;
    width: 300px;
     text-align: justify;
    border-radius: 10px;
    padding: 10px;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
    margin: auto;
    font-size: small;

    
}
.right h1{
    text-align: left;
}

.footer{
    position: fixed;
    bottom: 0;
  height: 4vh;
  width: 100%;
  background-color: aquamarine; 
  text-align: center;
}
.h1{
    text-align: center;
}
